<% content_for :head do %>
    <link rel="stylesheet" href="/assets/about.css">
<% end %>

<% content_for :menu_items do %>
    <div class="nav-item">
        <%= link_to "Home", root_path, {class: "nav-link"} %>
    </div>
    <div class="nav-item">
        <span class="nav-link disabled">Saiba mais</span>
    </div>
    <div class="nav-item">
        <%= link_to "Contato", contact_path, {class: "nav-link"} %>
    </div>
    <div class="nav-item">
        <%= link_to "Política de Privacidade", privacy_path, {class: "nav-link"} %>
    </div>    
<% end %>

<% content_for :menu do %>
    <% if session[:candidate_id] %>
        <li><a href="<%= edit_candidate_path(session[:candidate_id]) %>" class="dropdown-item">Perfil</a></li>
    <% elsif session[:user_id] %>
        <li><a href="<%= edit_user_path(session[:user_id]) %>" class="dropdown-item">Perfil</a></li>
    <% end %>
<% end %>

<% content_for :main do %>
    <div class="container">
        <h1>Saiba mais sobre o projeto</h1>
        <h2>O que é o #MeRepresenta?</h2>
        <p>
            O #MeRepresenta surge nas eleições de 2016, resultado de uma parceria entre coletivos e organizações que lutam pela igualdade de gênero, racial, orientação sexual e direito à cidade. Desenvolvemos esta plataforma para aproximar eleitoras/es e candidaturas a vereadoras/es pró-direitos humanos. 
        </p>
        <p>
            Para isso, convidamos todos as 480 mil candidaturas do país a responderem a 14 perguntas de direitos humanos, sobre temas como descriminalização e legalização do aborto, desmilitarização, casamento igualitário etc. 
        </p>
        <p>
            Cerca de mil candidaturas de todos os partidos participaram da plataforma, em 244 municípios de 24 estados. E eleitoras/es puderam selecionar quais dessas 14 pautas de direitos humanos eram fundamentais para o seu voto e encontrar candidaturas que tivessem compromisso com elas. 
        </p>
        <p>
            Em 10 dias, nossa plataforma teve 1 milhão de visualizações, com mais de 150 mil eleitoras/es cadastrados. A repercussão foi enorme, nas redes e na imprensa em geral, com menções na Folha de São Paulo, Estado de São Paulo, Nexo, O Globo, Exame, entre outros.
        </p>
        <p>
            Passadas as eleições municipais de 2016, queremos agora avaliar o compromisso de vereadoras/es eleitas/os com os direitos humanos. Reproduzindo o mesmo questionário e a mesma estratégia de transparência para todo o Brasil.
        </p>

        
        <h2>Como vereadoras/es podem participar da plataforma?</h2>
        <p>
            A plataforma #MeRepresenta está aberta à participação de todas as vereadoras e vereadores eleitos em 2016, em qualquer cidade do Brasilcomo suplentes diplomados!
        </p>
        <p>
            Para incluir seu mandato na plataforma, basta se cadastrar e responder a 14 perguntas sobre sua posição em relação a pautas de direitos humanos.
        </p>
        <p>
            Com as suas informações divulgadas no nosso site, ganha toda a população, que pode saber mais sobre políticas/os comprometidas/os com direitos humanos. E ganha você também. Porque seu trabalho poderá contar com mais uma forma de divulgação. A tecnologia e a informação podem e devem estar a favor da democracia no Brasil. E, pra isso, precisamos de seu apoio!
        </p>
    </div>
<% end %>