<% content_for :head do %>
    <title>Perfil de Vereador(a)</title>
    <link rel="stylesheet" href="/assets/perfil_candidato.css">
<% end %>


<% content_for :menu_items do %>
    <div class="nav-item">
        <%= link_to "Home", root_path, {class: "nav-link"} %>
    </div>
    <div class="nav-item">
        <%= link_to "Saiba mais", about_path, {class: "nav-link"} %>
    </div>
    <div class="nav-item">
        <%= link_to "Contato", contact_path, {class: "nav-link"} %>
    </div>
    <div class="nav-item">
        <%= link_to "Política de Privacidade", privacy_path, {class: "nav-link"} %>
    </div>    
<% end %>

<% content_for :menu_logged do %>
    <% if session[:user_id] and @current_user.admin? %>
        <%= link_to "Gerenciar dados de vereadores", candidates_management_path, {class: "dropdown-item"} %>
        <li>
            <%= form_for @candidate, method: :delete do %>
                <button type="submit" class="dropdown-item" onclick="return confirm('Você quer mesmo APAGAR esse registro?\nEssa ação é irreversível!');" >Apagar Registro</button>
	    <% end %>
	</li>
        <li>
		<%= link_to "Liberar Questionário", candidate_free_path(@candidate.id), {class: "dropdown-item"} %>
        </li>
            <div class="dropdown-divider"></div>
    <% end %>
    <% if session[:candidate_id] %>
        <li><a href="<%= edit_candidate_path(@current_user.id) %>" class="dropdown-item">Perfil no #MeRepresenta</a></li>
    <% elsif session[:user_id] %>
        <li><%= link_to "Perfil", edit_user_path(session[:user_id]), {class: "dropdown-item"} %>
        <li><%= link_to "Refazer questionário", new_answer_path, {class: "dropdown-item"} %>
    <% end %>
<% end %>

<% content_for :main do %>
<% 
   require 'uri'
%>
<div class="container">
    <div class="flex">
        <div class="info-basica">        
            <img class="can-pic" src="<%= @candidate.picture %>?type=large" alt="Foto da/o vereador(a)">
            <span class="info-text name">
                <%= @candidate.nickname %>
            </span>
            <span class="info-text party">
                Partido: <%= @candidate.party.symbol %>
            </span>
            <span class="info-text score">
                Nota do Partido: <%= (@candidate.party.score * 10.0).round 2 %>
            </span>
            <span class="info-text city">
                Cidade: <%= "#{@candidate.city.name}, #{@candidate.city.state}" %>
            </span>
        </div>
        <div class="info-bio">
            <div class="bio">
                <h3>Sobre a/o vereador(a)</h3>
                <textarea readonly rows="11" cols="40">
                    <%= @candidate.bio %>
                </textarea>
            </div>
        </div>
    </div>
       
    <div class="respostas">
        <h2>Veja o que a/o vereador(a) respondeu</h2>
        <table>
            <tbody>
                <% @candidate.answers.sort{|a, b| a.question_id - b.question.id}.each do |answer| %>
                    <%  
                        if session[:user_id]
                            resposta_eleitor = @current_user.answers.select{|a| a.question_id == answer.question_id}
                            classe = ""
                            if resposta_eleitor.count > 0
                                resposta_eleitor = resposta_eleitor[0]
                                if not session[:candidate_id]
                                    if answer.short_answer == "Não"
                                        classe = "perigo"
                                    end
                                end
                            end
                        end
                    %>
                    <tr>
                        <td class="pergunta <%= classe %>"><%= answer.question.text %></td>
                        <td class="resposta <%= classe %>"><%= answer.short_answer %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<% end %>
